/* font */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* container */
.container {
  width: min(100%, 1440px);
  margin: auto;
  padding: 64px 140px;
  background-image: url(../images/Rectangle\ 3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* main section */
.main_section {
  background-color: #1c1325cc;
  border: 1px solid #b052b5c9;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 40px;
  display: flex;

  column-gap: 66px;
}
/* form section */
.form_section {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  width: 50%;
}
/* heading */
.form_section_heading {
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 4px;
  filter: drop-shadow(4px 4px 0px #f90cefb5);
}
/* form */
.form {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.input_section {
  display: flex;
  column-gap: 24px;
}

input {
  background: transparent;
  border: 1px solid #b052b5;
  border-radius: 8px;
  padding-left: 22px;
  height: 48px;
  width: 100%;
  color: #ffffff;
}

/* text area section */

.textarea_section {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.txtarea_label {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ffffff;
}

.text_area {
  border: 1px solid #b052b5;
  border-radius: 8px;
  background: transparent;
  resize: none;
  height: 140px;
  color: #ffffff;
}
/* send button */
.send_button {
  border-radius: 16px;
  background-color: #f30aea;
  height: 64px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
}

.send_button:hover {
  background-color: #7e017a;
  color: #c5da3c;
}

/* map section */
.contact_map_section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 72px;
}
/* button section */
.buttons_section {
  display: flex;
  column-gap: 72px;
}

.contact_button {
  border: 2px solid #ffffff;
  height: 48px;
  width: 48px;
  padding: 12px;
  background-color: #f30aea;

  border-radius: 8px;
  cursor: pointer;
}

.contact_button:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.fa-solid,
.fa-regular {
  color: white;
  font-size: 17.38px;
}

/* map section */

.map_section {
  width: 100%;
  height: 338px;
}

.map_iframe {
  width: 100%;
}

/* button click efects */
button:active {
  background-color: #70456f;
}
